<div class="flex flex-row justify-between items-center gap-8">
  <div class="flex grow-0 flex-row justify-end items-center gap-8 w-full">
    <button (click)="reset()"
            [disabled]="submitting$ | async"
            class="grow-0"
            mat-stroked-button
            type="button">
      <ng-container i18n>Reset</ng-container>
    </button>
    <button (click)="cancel()"
            [disabled]="submitting$ | async"
            color="warn"
            class="grow-0"
            mat-stroked-button
            type="button">
      <ng-container i18n>Cancel</ng-container>
    </button>
    <button (click)="submit(!allowResubmit)"
            [disabled]="submitting$ | async"
            [ngClass]="{ invalid: invalid }"
            color="primary"
            class="grow-0"
            mat-raised-button
            type="button">
      <span class="flex flex-row items-center gap-2">
        <span class="grow-0">
          <ng-container i18n>Submit</ng-container>
        </span>
        <mat-spinner [diameter]="15" *ngIf="submitting$ | async" color="accent" class="grow-0"
                     mode="indeterminate"></mat-spinner>
      </span>
    </button>
    <button (click)="submit(true)" *ngIf="allowResubmit"
            [disabled]="submitting$ | async"
            [ngClass]="{ invalid: invalid }"
            color="primary"
            class="grow-0"
            mat-raised-button
            type="button">
      <span class="flex flex-row items-center gap-2">
        <span class="grow-0">
          <ng-container i18n>Submit and Close</ng-container>
        </span>
        <mat-spinner [diameter]="15" *ngIf="submitting$ | async" color="accent" class="grow-0"
                     mode="indeterminate"></mat-spinner>
      </span>
    </button>
    <button (click)="logCurrentFormState()" *ngIf="isDevMode" mat-button type="button" class="grow-0">
      Current Form State
    </button>
  </div>
</div>
