<div [ngClass]="{
     'border-l-4 text-accent-400 border-accent-600': active(),
     }">
  <a [routerLink]="item().routerLink"
     class="h-12 pl-4 pr-5 flex flex-row justify-between items-center gap-x-4"
     matRipple
     routerLinkActive

  >
    <span
      [ngClass]="itemClasses()"
      class="grow whitespace-nowrap"
    >
      {{ item().label }}
    </span>
    <mat-icon *ngIf="item().icon as icon" [rxapIcon]="icon"></mat-icon>
  </a>

  <ng-container *ngIf="item().children?.length && active()">

    <mat-divider></mat-divider>

    <ul [@sub-nav]
        [items]="children ?? []"
        [level]="level() + 1"
        rxap-navigation
    >
    </ul>

    <mat-divider></mat-divider>

  </ng-container>
</div>
