![Reactive Application Platform](logo.png)

[![Commitizen friendly](https://img.shields.io/badge/commitizen-friendly-brightgreen.svg)](http://commitizen.github.io/cz-cli/)
[![styled with prettier](https://img.shields.io/badge/styled_with-prettier-ff69b4.svg?style=flat-square)](https://github.com/prettier/prettier)
[![lerna](https://img.shields.io/badge/maintained%20with-lerna-cc00ff.svg)](https://lerna.js.org/)

{{#if packageJson.description ~}}> {{packageJson.description}}{{/if}}

# Projects
{{#each projects}}

{{#if @key ~}}## {{@key}}{{/if}}
Name | License | Version | Dependencies | Description
--- | --- | --- | --- | ---
{{#each this}}{{#if this.private}}{{this.name}} | - | - | - | {{this.description}}{{else}}{{this.name}} | ![NPM](https://img.shields.io/npm/l/{{this.name}}?style=flat-square) | [![npm version](https://img.shields.io/npm/v/{{this.name}}?style=flat-square)](https://www.npmjs.com/package/{{this.name}}) | ![Libraries.io dependency status for latest release, scoped npm package](https://img.shields.io/librariesio/release/npm/{{this.name}}) | {{this.description}}{{/if}}{{/each}}
{{/each}}



