:host {
  .collapsable {

    &:not(.mat-drawer-opened) {
      transform: translateX(calc(-100% + 64px)) !important;
      visibility: visible !important;
      box-shadow: inherit !important;
      transition-property: transform;
      transition-delay: 250ms;
      display: flex;
      border-right: solid 1px rgba(0, 0, 0, .12);
    }

    ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

  }
}
