<mat-sidenav-container [ngStyle]="{
    'padding-top.px': fixedTopGap(),
    'padding-bottom.px': fixedBottomGap(),
  }" class="h-full">
  <mat-sidenav
    [fixedBottomGap]="fixedBottomGap()"
    [fixedInViewport]="fixedInViewport()"
    [fixedTopGap]="fixedTopGap()"
    [mode]="sidenavMode()"
    [ngClass]="{ collapsable: collapsable() }"
    [opened]="opened()"
  >
    <div (mouseleave)="collapsable() && !pinned() && closeSidenav()"
         class="h-full py-2 flex flex-col items-center gap-y-5 justify-items-stretch">

      <div (click)="togglePinned()" *ngIf="collapsable()"
           class="pl-2 self-stretch grow-0 flex flex-row justify-between items-center">
        <span class="text-lg" i18n>Navigation</span>
        <div class="flex flex-row items-center justify-center" style="width: 64px">
          <button mat-icon-button>
            <mat-icon *ngIf="!pinned()">radio_button_unchecked</mat-icon>
            <mat-icon *ngIf="pinned()">radio_button_checked</mat-icon>
          </button>
        </div>
      </div>

      @if (sidenavHeaderDirective()?.template; as template) {
        <div [ngClass]="{ hidden: collapsed() }" class="header grow-0">
          <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
        <mat-divider [ngClass]="{ hidden: collapsed() }" class="grow-0"></mat-divider>
      }

      <ul
        (mouseenter)="collapsable() && !pinned() && openSidenav()"
        class="grow self-stretch"
        [root]="true"
        rxap-navigation
      >
      </ul>

      @if (sidenavFooterDirective()?.template; as template) {
        <mat-divider [ngClass]="{ hidden: collapsed() }" class="grow-0"></mat-divider>
        <div [ngClass]="{ hidden: collapsed() }" class="footer grow-0">
          <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{ 'ml-16': collapsable() }" class="p-4">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
