@if (hasPortals()) {
  <mat-toolbar [color]="color()" class="mat-elevation-z1">
    @for (portal of portals(); track portal) {
      <mat-toolbar-row>
        <ng-template [cdkPortalOutlet]="portal"></ng-template>
      </mat-toolbar-row>
    }
  </mat-toolbar>
}
