<ng-template [ngForOf]="navigationItems()" let-item ngFor>
  <ng-template [ngIf]="isNavigationDividerItem(item)">
    <mat-divider></mat-divider>
    <div *ngIf="!collapsed() && item.title" class="pl-5 h-6">
      {{item.title}}
    </div>
  </ng-template>
  <ng-template [ngIf]="isNavigationItem(item)">
    <li [item]="asNavigationItem(item)"
        [level]="level()"
        class="dark:hover:text-white hover:text-black"
        rxap-navigation-item>
    </li>
  </ng-template>
</ng-template>
