@use '@angular/material' as mat;

@mixin rxap-boolean-cell-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $isDark: map-get($theme, is-dark);

  .rxap-boolean-cell {

    .truthy {
      color: mat.m2-get-color-from-palette($primary);
    }

    .falsy {
      color: mat.m2-get-color-from-palette($warn);
    }

  }

}

@mixin rxap-boolean-cell-typography($config) {
  .rxap-boolean-cell {
  }
}
