{{#> matColumnDef column=column}}
  {{#if table.withHeader}}
  <th mat-header-cell
    *matHeaderCellDef
    {{#if column.sortable}}
    mat-sort-header
    {{/if}}
    {{#if column.headerCssClass}}
    {{> cssClass cssClass=column.headerCssClass}}
    {{/if}}
  >
    <ng-container i18n>{{column.title}}</ng-container>
  </th>
  {{/if}}
  <td *matCellDef="let element"
    mat-cell
    [rxap-options-cell]="element?.{{column.propertyPath}}{{> pipe pipeList=column.pipeList}}"
    {{#if column.cssClass}}
    {{> cssClass cssClass=column.cssClass}}
    {{/if}}
  >
  {{#each column.optionList}}
  <mat-option [value]="{{propertyValue this.value}}" i18n>{{this.display}}</mat-option>
  {{/each}}
  </td>
{{/matColumnDef}}
