<div class="rxap-container flex flex-row justify-start items-center gap-8">
  <div class="grow-0">
    <button type="button" (click)="navigateBack()" mat-stroked-button>
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
  <ng-content></ng-content>
</div>
