{{#> matFormField control=control}}
  <input [matAutocomplete]="auto{{classify control.name}}"
    formControlName="{{control.name}}"
    matInput
    type="text"
    {{#if control.isRequired}}
    rxapRequired
    {{/if}}
    {{#if parentControlContainer}}
    parentControlContainer
    {{/if}}
    {{#if control.placeholder}}
    i18n-placeholder placeholder="{{control.placeholder}}"
    {{/if}}
    />
  <mat-autocomplete #auto{{classify control.name}}="matAutocomplete">
    <mat-option *rxapAutocompleteOptionsFromMethod="let option; matAutocomplete: auto{{classify control.name}}"
                [value]="option.value">
                \{{ option.display }}
    </mat-option>
  </mat-autocomplete>
  <button
    rxapOpenTableSelectWindow
    mat-icon-button
    matPrefix
    tabindex="-1"
    type="button"
    {{#if control.title}}
    i18n-label label="{{control.title}}"
    {{/if}}
  >
    <mat-icon svgIcon="table-eye"></mat-icon>
  </button>
{{/matFormField}}
