{{#> matFormField control=control}}
  <rxap-table-select-input
    rxapOpenTableSelectWindow
    formControlName="{{control.name}}"
    {{#if control.title}}
    i18n-label label="{{control.title}}"
    {{/if}}
    {{#if parentControlContainer}}
    parentControlContainer
    {{/if}}
  >
  </rxap-table-select-input>
  <button
    rxapOpenTableSelectWindow
    mat-icon-button
    matPrefix
    tabindex="-1"
    type="button"
    {{#if control.title}}
    i18n-label label="{{control.title}}"
    {{/if}}
  >
    <mat-icon svgIcon="table-eye"></mat-icon>
  </button>
{{/matFormField}}
