<div class="flex flex-row gap-2 items-center">
  <button
    #trigger="cdkOverlayOrigin"
    [disabled]="disabled"
    (click)="fileInput.click()"
    cdkOverlayOrigin
    class="grow-0"
    mat-stroked-button
    type="button">
    <span class="flex flex-row justify-center items-center gap-3">
      <mat-icon class="grow-0" svgIcon="upload"></mat-icon>&nbsp;
      @if (value) {
        <span class="truncate grow-0">{{ value.name }}</span>
      } @else {
        @if (placeholder) {
          <span>{{ placeholder }}</span>
        }
        <ng-content></ng-content>
      }
    </span>
  </button>
  @if (isImage) {
    <button (click)="openOverlay()"
            class="grow-0"
            i18n-matTooltip
            mat-icon-button
            matTooltip="Open image preview"
            type="button">
      <mat-icon>preview</mat-icon>
    </button>
  }
  @if (allowDownload() && value) {
    <button (click)="download()" class="grow-0" i18n-matTooltip mat-icon-button
            matTooltip="Download file" type="button">
      <mat-icon svgIcon="download"></mat-icon>
    </button>
  }
</div>

<ng-template
  (backdropClick)="isImageUploaded.set(false)"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="isImageUploaded()"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="positions"
  cdkConnectedOverlay
>
  <div class="bg-white dark:bg-black drop-shadow-xl overlay-container p-2 rounded overflow-auto">
    <img [src]="value | readAsDataURL | async" class="w-full">
  </div>
</ng-template>

<input #fileInput (change)="onFileInputChange($event)" [accept]="acceptAttribute()" [id]="id" class="hidden"
       type="file">
