<rxap-header class="z-10 w-full fixed top-0"></rxap-header>
<rxap-navigation-progress-bar></rxap-navigation-progress-bar>
<router-outlet></router-outlet>
<rxap-footer class="z-10 w-full fixed bottom-0"></rxap-footer>
